body{
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    overflow: hidden;
   
}
table{
    border: 1px solid black;
    color:#410679;
    align-self: center;
    justify-self: center;
    border-collapse: collapse;
    height: 100Vh;
    position: relative;
}
tr,td{border: 1px solid rgb(32, 20, 20);
width: 25px;height: 5px;
transition-duration: 0.4s;
transition-timing-function:cubic-bezier(0, 2, 0, 0);
/* transform-style: flat; */
transition-behavior: alternate;
cursor: pointer;
}
td:active{
    background-color: aqua;
}
td:hover{
    background-color: aqua;
}
h1{color: red;
position: absolute;
z-index: 999;

}