body {
    background-color: black;
    background-image: radial-gradient (circle, white 1px, transparent 2px);
    background-size: 20px 20px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1,
h2 {
    color: #2c3e50;
    text-align: center;
}

.profile-img {
    display: block;
    margin: 10px auto;
    width: 120px;


    height: 120px;
    border-radius: 50%;
    border: 3px solid #4CAF50;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td,
th {
    padding: 10px;
    text-align: center;
}

form {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

marquee {
    font-weight: bold;


    color: #d35400;
    margin-bottom: 10px;
}